.l-eventos {
    
        margin-top: 1.4em;
	padding-top: 4em;
	padding-bottom: 1em;
	background: $white-0;
        
        .title-evento {
            text-align: left;
            font-size: 1.8em;
            font-weight: bold;
	}
        
        .imagem-eventos{
            width: 250px;
            height: 250px;
            box-shadow: inset 1000px 50px 50px 50px rgba(0,0,0,.7);
        }

	.titulo-caixa-evento {
                width: 90%;
                margin: 0 auto;
                text-align: center;
                font-size: 0.82em;
	}

	a {
		font-size: 10px;
		color: $white-0;
		text-align: center;
	}

	.botoes-cima {
		margin: 1em 0 0;
	}
        
        .botoes-cima a{
		margin-bottom: 1em;
	}

	.caixa {
    font-size: 0.9em;
    width: 10px;
	}



i.fa.fa-heart {
    color: red;
    font-size: 12px;
}

.caixa-preco {
    width: 90%;
    margin: 0 auto;
    font-size: 0.72em;
    text-align: center
}

.botao-queroisso {
    width: 85%;
    margin: 0 auto;
    margin-top: 0.3em;
    margin-left: 2em;
}

.botao-queroisso a{
    border: solid 1px;
    border-radius: 40px;
}

.botao-queroisso .icone{
    color: black;
    margin-left: 0.2em;
    border: solid white;
    border-radius: 100%;
    background-color: white;
}

.botao-queroisso .icone:last-child{
padding: 0 0.2em 0 0.2em;
}

.espaco-linha {
	margin: 2em 0 3em 0;
        width: 25%;
        
}

figure{
    width: 100%; 
    background: none; 
    position: relative;
}

figcaption{
    display: block; 
    position: absolute; 
    bottom: 30px;
    color: white
}

.espaco-linha-pagination {
	margin: 4em 0 1em;

	div {
            font-size: 10pt;
		color:$white-0
	}
}

@media screen and (max-width: 1200px) {
    #categorias-loja li{
                margin-top: 1em;
            }
    
    .espaco-linha {
        width: 50%;
}
    .caixa-preco {
    width: 220px;
    }
    
    .botao-queroisso {
    width: 80%;
}
}

@media screen and (max-width: 700px) {
    figure{
        text-align: center;
    }
    .imagem-eventos{
            width: 100%;
    }
    .espaco-linha {
        width: 100%;
}
    .caixa-preco {
        width: 90%;
        margin-left: 2em;
        
    }
    .botao-queroisso {
    width: 90%;
    
}
}
}