/* ==|======================
   Layout/Login
   ========================= */
.l-login{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
}

div#header-login{
    padding-top: 1em;
    display: none;
    width: 350px;
    margin: 0 auto;
    box-shadow: 1px 1px 7px #606060;
    background-color: #f4f4f4;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1050;
        
}
form.login{
    display: none;
    width: 350px;
    margin: 0 auto;
    padding-top: 1em;
    background-color: #f4f4f4;
    right: 0;
    left: 0;
    z-index: 1050;
    padding-bottom: 1em;
        
}
form.cadastro{
    padding-top: 1em;
    width: 350px;
    margin: 0 auto;
    display: none;
    right: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background-color: #f4f4f4;
    padding-bottom: 1em;
}
form#recuperar_senha{
    padding-top: 1em;
    width: 350px;
    margin: 0 auto;
    display: none;
    right: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background-color: #f4f4f4;
    padding-bottom: 1em;
}

div#header-login div.logo_login{
    text-align: center;
}

div#header-login div.logo_login div{
    font-family: arial;
    font-weight: 800;
    float: right;
    font-size: 25pt;
    margin-top: -20px;
    margin-right: 20px;
    color: #ccc;
    cursor: pointer;
}

form.login h4, form.cadastro h4, form#recuperar_senha h4{
    text-align: center;
}

div#header-login img{
    width: 70px;
    height: 70px;
}

form.login .login-email, form.login .login-senha, form.cadastro .cadastro-email, form.cadastro .cadastro-senha, form#recuperar_senha .recuperar_senha__email{
    width: 90%;
    display: block;
    margin: 1em 5% 0 5%;
    padding: 0.3em 0 0.3em 0.5em;
}



form.login input.login-entrar, form.cadastro .cadastro-entrar, form#recuperar_senha #recuperar_senha__confirmar{
    width: 90%;
    margin: 1em 5% 0.5em 5%;
    padding: 10px 20px;
    background: -moz-linear-gradient(left, #7B68EE, #34469b); 
    background: -webkit-linear-gradient(left, #7B68EE, #34469b); 
    background: -o-linear-gradient(left, #7B68EE, #34469b); 
    background: -ms-linear-gradient(left, #7B68EE, #34469b); 
    background: linear-gradient(left, #7B68EE, #34469b); 
    color: #fff;
    border: none;
    cursor: pointer;
}

form.login a, form.cadastro a, form#recuperar_senha a{
    color: #606060;
    margin: 1em 5% 1em 5%;
    cursor: pointer;
}

@media screen and (max-width: 900px) {

    form.login{
        float: none;
        width: 90%;
        border: none;
    }

    form.cadastro{
        float: none;
        width: 100%;
        margin-bottom: 2em;
    }

    form.login .login-email, form.login .login-senha, form.cadastro .cadastro-email, form.cadastro .cadastro-senha{
        width: 90%;

    }

    form.login input.login-entrar, form.cadastro .cadastro-entrar{
        float: none;
    }
}