/* ==|======================
   Layout/Doe
   ========================= */

.l-doe{
    text-align: center;
    
    h1{
        margin-top: 0.5em;
    }

.btn{
  font-family: arial;
  font-size:14px;
  font-weight:700;
  text-transform: uppercase;
  border:none;
  padding:10px;
  cursor: pointer;
  display:inline-block;
  text-decoration: none;
  display: block;
  width: fit-content;
  margin: auto;
}

.btn-red{
  background:red;
  color:#fff;
  box-shadow:0 5px 0 #d20000;
}
.btn-red:hover{
  background:#d20000;
  box-shadow:0 5px 0 #b00000;
}

.btn-red:active{
  position:relative;
  top:5px;
  box-shadow:none;
}

#background-doe{
    width: 50%;
    background-color: white;
    padding-bottom: 1em;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 2em;
    
    iframe{
        width: 100%;
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 830px) {
    h5{
        width: 100%;
    }
    
    #background-doe{
        width: 100%;
    }
    }

}