/* ==|======================
   Layout/Fale Conosco
   ========================= */

.l-fale-conosco{
    background-color: $white-0;
    margin-top: 1.5em;
    padding-top: 3em;
}

#form-fale-conosco div{
   display: inline-block;
    width: 35%;
}

#form-fale-conosco div:last-child{
    width: 50%;
    position: absolute;
}
.campo-fale-conosco{
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 1em;
    margin-top: 1em;
    display: block;
    width: 100%;
}

#textarea-fale-conosco{
    display: inline-block;
    width: 95%;
    margin-left: 2em;
    margin-top: 1em;
    height: 290px;
    float: right;
    padding-top: 1em;
    padding-left: 1em;
}

.enviar-fale-conosco{
    float: right;
    margin-left: 1em;
    margin-top: 1em;
    padding: 20px 50px;
    background: -moz-linear-gradient(left, orange, #fa7306); 
background: -webkit-linear-gradient(left, orange, #fa7306); 
background: -o-linear-gradient(left, orange, #fa7306); 
background: -ms-linear-gradient(left, orange, #fa7306); 
background: linear-gradient(left, orange, #fa7306); 
color: #fff;
border: none;
}

#contato-fale-conosco{
    font-weight: 600;
    font-size: 18pt;
    margin-top: 6em;
    padding-bottom: 2em;
    text-align: center;
}