/* ==|====================
   Layout/Header
   ======================= */

.l-header {
  background: $white-0;

  padding: 2em 0 0;

  #logo{
    display: inline-block;
  }
  
  img{
      width: 100%;
  }

  #menu {
    width: 100%;
    clear: both;
    border-top: 1px solid $white-1;
    margin-top: 2em;

    a {
      color: $dark-gray;
      font-weight: bold;
    }

    li {
      display: inline-block;
      padding: 1.1em 0;
      margin-right: 1.5em;

      > .submenu { display: none;}
      > .submenu-active { display: block; }
      
    }
    .menus-ongcrescer:hover ul.submenu{ display: block;}
    .submenu li{ display: block;}
    .submenu{z-index: 1; position: absolute; background-color: white; border: whitesmoke solid;}
  }
  
  #dash{ cursor: pointer; display: none; font-size: 3em; margin-bottom: 0;}
  
  @media screen and (max-width: 1000px) {
    nav#menu{
        margin-top: 0;
        box-shadow: 1px 1px 1px 7px white;
        display: none;
        .menus-ongcrescer:hover ul.submenu{ display: inline;}
        .submenu li{ display: inline;}
        li{
            padding: 0;
            width: 90%;
            background-color: black;
            border-bottom: solid $white-0;
            
            a{
                text-decoration: none;
                margin-left: 1%;
                font-size: 1em;
                color: $white-0;
            }
        }
        li:hover{
            background-color: $white-0;
            transition: 1s;
            .submenu{position: relative;}
            .submenu li{ display: block; background-color: white; margin-right: 0; margin-left: 1em;}
        }
        li:hover a{
                color: black;
            }
            li.menus-ongcrescer{
                
                ul a{
                    color: white;
                }
                background-color: none;
                .submenu li{ display: block; background-color: black; margin-right: 0; margin-left: 1em;}
                
            }
            li.menus-ongcrescer:hover {
                background-color: none;
            }
            li.menus-ongcrescer ul a:hover{
                color: black;
            }
            
            li.menus-ongcrescer li:hover a{
                color: black;
            }
            li.menus-ongcrescer li:hover{
                background-color: white;
            }
    }
    
    #dash{
        display: block;
    }
    
}
}
        
