/* ==|======================
   Layout/Historia
   ========================= */

.historia-ong-carousel{
    margin-top: 150px;
      height: 300px;
      width: 300px;
      margin-right: 10%;
      display: inline-block;
      float: right;
  }
  
  .historia-ong-carousel-item{
      margin-top: 50px;
      margin-left: 10%;
      width: 50%;
      display: inline-block;
  }
  #historia-content{
      margin-left: 10%;
      width: 50%;
  }