/* ==|======================
   Layout/Login
   ========================= */
.l-login{
    background-color: $white-0;
    min-height: 400px;
}
form#login{
    width: 45%;
    border-right: 1px solid #ccc;
    margin-top: 1em;
    padding-top: 3em;
    float: left;
}
form#cadastro{
     width: 45%;
    margin-top: 1em;
    padding-top: 3em;
    float: right;
}

form#login #login-email, form#login #login-senha, form#cadastro .cadastro-email, form#cadastro .cadastro-senha{
    width: 60%;
    display: block;
    margin-top: 1em;
}

form#login div, form#cadastro div{
    width: 60%;
}

form#login input#login-entrar, form#cadastro #cadastro-entrar{
    margin-top: 0.5em;
    float: right;
    padding: 10px 20px;
background: -moz-linear-gradient(left, #7B68EE, #34469b); 
background: -webkit-linear-gradient(left, #7B68EE, #34469b); 
background: -o-linear-gradient(left, #7B68EE, #34469b); 
background: -ms-linear-gradient(left, #7B68EE, #34469b); 
background: linear-gradient(left, #7B68EE, #34469b); 
color: #fff;
border: none;
}

form#login a{
    font-size: 0.8em;
}

@media screen and (max-width: 900px) {

form#login{
float: none;
width: 100%;
border: none;
}

form#cadastro{
float: none;
width: 100%;
margin-bottom: 2em;
}

form#login #login-email, form#login #login-senha, form#cadastro .cadastro-email, form#cadastro .cadastro-senha{
width: 100%;

}

form#login input#login-entrar, form#cadastro #cadastro-entrar{
    float: none;
}
}
