figure{
    display: block;
    width: 100%;
    height: 200px;
    background-color: orange;
}

#div-imagem-fundo-sobre h1{
    font-weight: 600;
}

#div-imagem-fundo-sobre p{
    font-weight: 600;
}

.imagem-fundo-sobre{ 
    position: absolute;
}
figcaption{
    padding-left: 7em;
    padding-top: 3em;
    color: white;
    margin-top: 2em;
    position: relative;
}

.sobre-title{
    margin-top: 3em;
    width: 50%;
}
.sobre-content{
    width: 50%;
}

.l-sobre hr{
 color: orange;
 background-color: orange;
 width: 200px;
 margin-left: 0;
 height: 2px;
 
}

.sobre-icons{
    display: inline-block;
    
    .unicode{
        font-size: 30pt;
    }
}
.sobre-icons li{
    display: inline-block;
      margin: 0;
      padding: 1.5em 1.5em;
      text-align: center;
      color: $dark-gray;
}